/* * {
  margin: 0px;
  padding: 0px;
} */

h1 {
  text-align: center;
}

.sketch {
  display: flex;
  justify-content: center;
  gap: 50px;
}


.container {
  height: 560px;
  width: 560px;
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  height: 32px;
  width: 32px;
  border-style: dashed;
  border-color: 1px black;
  background-color: black;
}
